.comment
    .content
        %p.comment_content= comment.comment
        - if comment.user
            %p.comment_author
                Published at
                = time_ago_in_words(comment.created_at)
                by
                - if comment.user.firstname
                    = comment.user.firstname
                    = comment.user.lastname
                - else
                    = comment.user.email
        - else
            %p.comment_author= "anonymous"
    .buttons
        - if comment.user == current_user
            = link_to "Edit", edit_section_post_comment_path(@section, comment.post, comment)
            = link_to "Delete", [@section, comment.post, comment], method: :delete, data: {confirm: "Are you sure?"}