<div class ="wrapper", style="margin-top: 50px">
  <h1>Edit the Home Page</h1>
  <div class="container-edit">
    <%= form_tag '/', :name => 'home-page-edits', :authenticity_token => "true" do %>

      <div class="container">
        <h3>Heading</h3>
        <p>Heading Title:</p>
        <%= text_field_tag :heading_title, @content.heading_title, :class => "input-title" %>
      </div>

      <div class="container">
        <h3>About</h3>
        <p>About Title: </p>
        <%= text_field_tag :about_title, @content.about_title, :class => "input-title" %>
        <p>About Content: </p>
        <%= text_area_tag :about_content, @content.about_content, :class => "input-content", :rows=>"20", :cols=>"26" %>
        <p>About Image: </p>
      </div>

      <div class="container">
        <h3>Announcements</h3>
        <p>Announcements Title:</p>
        <%= text_field_tag :announcements_heading, @content.announcements_heading, :class => "input-title" %>
        <p>Announcements Content:</p>
        <%= text_area_tag :announcements_content, @content.announcements_content, :class => "input-content", :rows=>"20", :cols=>"26" %>
        <p>Announcements Image: </p>
      </div>

      <div class="container">
        <h3>Join</h3>
        <p>Join Image: </p>
        <p>Join Button 1: </p>
        <p>Join Button 2: </p>
        <p>Join Button 3: </p>
      </div>

      <br>
      <input type="submit" name="status" value="Save">
    <% end %>
  </div>
</div>