%div.container-fluid{:role => "header", :id => "home"}
  %h1.title 
    = @heading_title
  .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
    %ol
      %li.active{:data => {:target => "slide-images", :slide_to => "0"}}
      %li{:data => {:target => "slide-images", :slide_to => "1"}}
      %li{:data => {:target => "slide-images", :slide_to => "2"}}
    .carousel-inner
      .item.active
        = image_tag("header.jpg")
      .item
        = image_tag("header.jpg")
      .item
        = image_tag("header.jpg")
      .item
        = image_tag("header.jpg")
    - if not user_signed_in?
      %a.btn.btn-primary.btn-lg.page-scroll{:id => "join-button", :href => "#join"} Join Us
%div.container-fluid{:role => "information", :id => "about"}
  .row
    .col-lg-8.col-lg-offset-2
      .h1.title
        = @about_title
      .p
        - @about_content.each do |about|
          %br
          = about
      %br
%div.container-fluid{:role => "information", :id => "announcements"}
  .row
    .col-lg-8.col-lg-offset-2
      %h1.title
        = @announcements_heading
      .p
        - @announcements_content.each do |announcement|
          %br
          = announcement
        %br
%div.container-fluid{:role => "information", :id => "leadership"}
  %h1.title Leadership Team
  .leader-profile-box
    .leader-img
    .leader-description
      .p Name
      .p Other Stuff
  .leader-profile-box
    .leader-img
    .leader-description
      .p Name
      .p Other Stuff
  .leader-profile-box
    .leader-img
    .leader-description
      .p Name
      .p Other Stuff
  .leader-profile-box
    .leader-img
    .leader-description
      .p Name
      .p Other Stuff
  .leader-profile-box
    .leader-img
    .leader-description
      .p Name
      .p Other Stuff
  .leader-profile-box
    .leader-img
    .leader-description
      .p Name
      .p Other Stuff
%div.container-fluid{:role => "information", :id => "join"}
  %h1.title Join Us
  // Fix this link later
  %a.btn.btn-primary.btn-lg{:href => "http://debate.berkeley.edu/join.html"} Send Us Your Information
  %a.btn.btn-primary.btn-lg{:href => "mailto:aberl@berkeley.edu"} Email the President
  %a.btn.btn-primary.btn-lg{:href => "https://www.facebook.com/groups/279524538903584/"} Contact Our Facebook