%div.container-fluid{:role => "header", :id => "home"}
  %h1.title 
    = @content.heading_title
  .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
    %ol
      %li.active{:data => {:target => "slide-images", :slide_to => "0"}}
      %li{:data => {:target => "slide-images", :slide_to => "1"}}
      %li{:data => {:target => "slide-images", :slide_to => "2"}}
    .carousel-inner
      .item.active
        =image_tag src= @content.heading_image1
      .item
        =image_tag src= @content.heading_image2
      .item
        =image_tag src= @content.heading_image3
      .item
        =image_tag src= @content.heading_image4
    - if not user_signed_in?
      %a.btn.btn-primary.btn-lg.page-scroll{:id => "join-button", :href => "#join"} Join Us
%div.container-fluid{:role => "information", :id => "about"}
  .row
    .col-lg-8.col-lg-offset-2
      .h1.title
        = @content.about_title
      .p
        - @about_content.each do |about|
          %br
          = about
      %br
%div.container-fluid{:role => "information", :id => "announcements"}
  .row
    .col-lg-8.col-lg-offset-2
      %h1.title
        = @content.announcements_heading
      .p
        - @announcements_content.each do |announcement|
          %br
          = announcement
        %br
%div.container-fluid{:role => "information", :id => "leadership"}
  %h1.title Leadership Team
  .leader-profile-box
    .leader-img
      =image_tag src= @content.leader_image1
    .leader-description
      .p 
        = @content.leader_name1
      .p
        = @content.leader_sub1
  .leader-profile-box
    .leader-img
      =image_tag src= @content.leader_image2
    .leader-description
      .p 
        = @content.leader_name2
      .p 
        = @content.leader_sub2
  .leader-profile-box
    .leader-img
      =image_tag src= @content.leader_image3
    .leader-description
      .p 
        = @content.leader_name3
      .p 
        = @content.leader_sub3
  .leader-profile-box
    .leader-img
      =image_tag src= @content.leader_image4
    .leader-description
      .p 
        = @content.leader_name4
      .p 
        = @content.leader_sub4
  .leader-profile-box
    .leader-img
      =image_tag src= @content.leader_image5
    .leader-description
      .p 
        = @content.leader_name5
      .p 
        = @content.leader_sub5
  .leader-profile-box
    .leader-img
      =image_tag src= @content.leader_image6
    .leader-description
      .p 
        = @content.leader_name6
      .p 
        = @content.leader_sub6
%div.container-fluid{:role => "information", :id => "join"}
  %h1.title Join Us
  // Fix this link later
  %a.btn.btn-primary.btn-lg{:href => "http://debate.berkeley.edu/join.html"} Send Us Your Information
  %a.btn.btn-primary.btn-lg{:href => "mailto:aberl@berkeley.edu"} Email the President
  %a.btn.btn-primary.btn-lg{:href => "https://www.facebook.com/groups/279524538903584/"} Contact Our Facebook