%div.container-fluid{:role => "header", :id => "home"}
  %h1.title The Debate Society of Berkeley
  .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
    %ol
      %li.active{:data => {:target => "slide-images", :slide_to => "0"}}
      %li{:data => {:target => "slide-images", :slide_to => "1"}}
      %li{:data => {:target => "slide-images", :slide_to => "2"}}
    .carousel-inner
      .item.active
        = image_tag("header.jpg")
      .item
        = image_tag("header.jpg")
      .item
        = image_tag("header.jpg")
      .item
        = image_tag("header.jpg")
    %a.btn.btn-primary.btn-lg.page-scroll{:id => "join-button", :href => "#join"} Join Us
%div.container-fluid{:role => "information", :id => "about"}
  .row
    .col-lg-8.col-lg-offset-2
      .h1.title
        = @about_heading
      .p
        - @about_content.each do |about|
          %br
          = about
          %br
%div.container-fluid{:role => "information", :id => "announcements"}
  .row
    .col-lg-8.col-lg-offset-2
      %h1.title
        = @announcements_heading
      .p
        - @announcements_content.each do |announcement|
          %br
          = announcement
          %br

%div.container-fluid{:role => "information", :id => "join"}
  %h1.title Join Us
  // Fix this link later
  %a.btn.btn-primary.btn-lg{:href => "http://debate.berkeley.edu/join.html"} Send Us Your Information
  %a.btn.btn-primary.btn-lg{:href => "mailto:aberl@berkeley.edu"} Email the President
  %a.btn.btn-primary.btn-lg{:href => "https://www.facebook.com/groups/279524538903584/"} Contact Our Facebook
%footer.container{:role => "closing"}
  %p <strong>The Debate Society of Berkeley</strong> &copy; 2016
  %p{:class => "description"} We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
  %img#ocf-logo{:src => "https://www.ocf.berkeley.edu/images/hosted-logos/ocfbadge_mini8.png", :alt =>"Hosted by the OCF", :href => "https://www.ocf.berkeley.edu"}
  </a>