<div class = "title" style="width:800; margin-left:200">APDS Mockup Debate Signups</div>
<%= render 'message'%>
<div class = "boxed">
<% if Debate.all.length != 0%>
  <table class = "table-apds table table-striped" style="width:auto;">
  <%= render 'head' %>
  <tb>
    <% @debate.each do |debate| %>
      <tr>
        <td><%= debate.topic%></td>    
        <td><%= debate.time %></td>
        <% @slottype.each do |slottype|%>
          <td>
            <% debate.slots.each do |slot| %>
              <div class="btn-group btn-group-sm">
                <% if slot.slottype == slottype %>
                  <% if slot.status == "empty"%>
                    <%= link_to "Register", {:action => "index", :id => slot.id, :debateid => debate.id, :method => "get", :value => "register"}, class: "btn btn-success", role: "button" %>
                  <% else%>
                    <% if current_user.slots.include?slot %>
                      <%= link_to "Cancel", {:action => "index", :id => slot.id, :debateid => debate.id, :method => "get", :value => "cancel"}, class: "btn btn-danger", role: "button" %>
                    <% else %>
                      <%= User.find_by_id(slot.user_id).email %>
                    <% end%>
                  <% end%>
                <% end%>
              </div>
            <% end%>
          </td>
        <% end %>
        <td>
          <%= link_to update_debate_path(:id => debate.id) do %>
            <i class="glyphicon glyphicon-edit blue"></i>
          <% end %>
        </td>
      </tr>
    <% end%>
  </tb>
  </table>
<% end%>
<%= button_to "Create a New Mock Debate", action: "create", method: "get" %>
</div>
