#posts
  %h2= @section.title
  %h4
    = @section.posts.count
    Posts
  - @posts.each do |post|
    .post
      %h2.title= link_to post.title, section_post_path(id: post.id)
      %p.date
        Published at
        = time_ago_in_words(post.created_at)
        by
        - if post.user
          = post.user.email
        - else
          = "anonymous"