#post_content
  
  %h2.title
    Welcome, 
    - if not current_user.firstname
      = current_user.email
    - else
      = current_user.firstname
    !
    
    %p
      Your email is
      = current_user.email
      %br/
      - if not current_user.firstname or current_user.firstname == ''
        You have not input your name!
      -else
        Your current name is
        = current_user.firstname
        - if current_user.lastname
          = current_user.lastname
      %br/
      - if not current_user.major or current_user.major == ''
        You have not input your major!
      -else
        Your current major is
        = current_user.major
        
  =image_tag src= current_user.image_url
    
  
  %h3 Your Debates:
  - for debate in current_user.debates
    %p 
    Your mock debate
    = link_to debate.topic, mockdebate_path
    will coming on
    = debate.time
    at berkeley !!!
  %h3 Your Posts 
  - current_user.posts.each do |post|
    %div
      %h2.title= link_to post.title, section_post_path(id: post.id, section_id: post.section.id)
      %p.date
        Published at
        = time_ago_in_words(post.created_at)
  %h2.title
    Edit Your Profile:
  = simple_form_for current_user, :url => update_profile_path, :method => :post do |f|
    = f.input :firstname
    = f.input :lastname
    = f.input :major
    = f.input :image_url
    = f.submit
     
      
      