#post_content
  
  %h2.title
    - if @user_to_see.id == current_user.id
      Welcome, 
      - if not @user_to_see.firstname
        = @user_to_see.email
      - else
        = @user_to_see.firstname
      !
    -else
      This is
      - if not @user_to_see.firstname
        = @user_to_see.email
      - else
        = @user_to_see.firstname
        = @user_to_see.lastname
      's Page!
    
    %p
      Email: 
      = @user_to_see.email
      %br/
      - if not @user_to_see.firstname or @user_to_see.firstname == ''
        - if @user_to_see.id == current_user.id
          You have not input your name!
        - else
          This person has not input name!
      -else
        Name: 
        = @user_to_see.firstname
        - if @user_to_see.lastname
          = @user_to_see.lastname
      %br/
      - if not @user_to_see.major or @user_to_see.major == ''
        - if @user_to_see.id == current_user.id
          You have not input your major!
        - else
          This person has not input major!
      -else
        Current major:
        = @user_to_see.major
  %div.user-image
    - if @user_to_see.image_url
      =image_tag src= @user_to_see.image_url
      
    
  - if @user_to_see.id == current_user.id
    %h3 Your Debates:
  - else
    %h3 His/Her Debates:
  - for debate in Debate.find_future_debates(@user_to_see.debates)
    - if @user_to_see.id == current_user.id
      %p 
      Your upcoming mock debate
    - else
      %p 
      His/Her upcoming mock debate
   
    = link_to debate.topic, mockdebate_path
    will coming on
    = debate.time
    at
    = debate.location
    !!!
  - for debate in Debate.find_past_debates(@user_to_see.debates)
    - if @user_to_see.id == current_user.id
      %p 
      You have already attended the mock debate
    - else
      %p 
      He/She has already attended the mock debate
    
    = link_to debate.topic, mockdebate_path
    on
    = debate.time
    at
    = debate.location
    !!! 
  - if @user_to_see.id == current_user.id
    %h3 Your Posts:
  - else
    %h3 His/Her Posts:
  
  - @user_to_see.posts.each do |post|
    %div
      %h4.title= link_to post.title, section_post_path(id: post.id, section_id: post.section.id)
      %p.date#date-profile
        Published at
        = time_ago_in_words(post.created_at)
  - if @user_to_see.id == current_user.id
    %h2.title
      Edit Your Profile:
    = simple_form_for current_user, :url => update_profile_path, :method => :post do |f|
      = f.input :firstname
      = f.input :lastname
      = f.input :major
      %br
      Upload Your Image:
      = f.file_field :image_url, accept: 'image/png,image/gif,image/jpeg'
      %br
      = f.submit
       
      
      