%html
  %head
    %title Debate of Berkeley Forum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
  %body
    %nav.navbar.navbar-fixed-top{:role => "navigation"}
      .container-fluid
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.page-scroll{:href => "/"} Debate
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => new_user_session_path}
                Sign In
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => new_user_session_path} Sign In
                %li
                  %a{:href => new_user_registration_path} Sign Up For Mock Debate
                %li
                  %a{:href => "/forum"} Forum
    .wrapper
      %p.notice= notice
      %p.alert= alert
    .wrapper
      = yield